$theme: 'default';

$blue-300: #196fd9;
$blue-350: #196ed9;
$blue-400: #014e89;
$blue-700: #063060;

$grey-75: #f9f9f9;
$grey-100: #f2f2f2;
$grey-150: #e7e7e7;
$grey-200: #c4cbcf;
$grey-250: #b1b1b1;
$grey-400: #5f7380;
$grey-600: #313b42;
$grey-900: #231f20;

$yellow-400: #ffca09;
$red-400: #fa450e;
$green-400: #14b37d;
